.ourSalon {
    background: url("https://i.ibb.co/L8x2S7P/Rectangle-6.png");
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 0 30px;
    flex-direction: column;
    margin: 0 0 120px;
}

.ourSalon p {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    margin: 100px auto 120px;
}

.ourSalon h4 {
    font-family: 'Noto Serif', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto 45px;
}

.ourSalon .lorem {
    font-size: 18px;
    margin: 0 auto 60px;
    width: 100%;
    max-width: 730px;
}

.ourSalon button {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #333333;
    background: #FFFFFF;
    border: 1px solid #333333;
    width: 224px;
    height: 51px;
    margin: 0 auto 100px;
}
@media (max-width: 460px) {
    .ourSalon{
        margin-bottom: 20px;
    }
}
