
.articles {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
}

.subtitle {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 140%;
    text-align: center;
    color: #333333;
    margin: 20px auto 0;
}

.title {
    font-family: 'Noto Serif', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    margin: 0 auto 60px;
    line-height: 41px;
    text-align: center;
    color: #333333;
}

.container {
    width: 100%;
    max-width: 1110px;
    display: flex;
    flex-direction: column;
    margin: 0 auto 120px;
    padding: 0 30px;
    box-sizing: border-box;
}

.slider {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

.slider a {
    position: relative;
    box-sizing: border-box;
}

.slider a img {
    width: 100%;
}

.slider a p {
    position: absolute;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 140%;
    text-align: center;
    margin: 0;
    color: #FFFFFF;
    bottom: 35px;
    left: 50%;
    max-width: 218px;
    width: 100%;
    transform: translateX(-50%);
    padding: 0 10px;
    box-sizing: border-box;
}

.container > button {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    background: #333333;
    border: 1px solid #FFFFFF;
    width: 255px;
    height: 51px;
    margin: 60px auto 0 ;
    padding: 0;
}
@media (max-width: 950px) {
    .slider{
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
    .slider a p{
        font-size: 30px;
        max-width: 900px;
    }
}
@media (max-width: 460px) {
    .container {
        padding: 0 10px;
    }

    .container nav a {
        font-size: 14px;
    }

    .container nav a:hover {
        background: #FFFFFF;
        color: black;
    }
}