.events {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
}

.container {
    width: 100%;
    max-width: 1110px;
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    padding: 0 30px;
    box-sizing: border-box;
}

.container > p {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 140%;
    text-align: center;
    color: #333333;
    margin: 0 auto;
}

.container > h3 {
    font-family: 'Noto Serif', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #333333;
    margin: 15px auto;

}

.container nav {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 18px;
    margin: 60px auto;
}

.container nav a {
    transition: background-color .5s;
    background: #fff;
    border: 1px solid #D6D6D6;
    max-width: 165px;
    width: 100%;
    height: 55px;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #333333;
    position: relative;
    text-decoration: none;
}

.container nav a:after {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #D6D6D6;
    bottom: 0;
    background: #fff;
    content: '';
    z-index: -2;
    left: 0;
    transform: translate(6px, 6px);
}

.container nav a:hover {
    background: #000;
    color: #FFFFFF;
}

.container nav a:hover:after {
    display: none;
}

@media (max-width: 1120px) {
    .container nav {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 550px;
    }
}



.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    width: 100%;
    max-width: 1110px;
}

.wrapper a {
    position: relative;
}

.wrapper a p {
    position: absolute;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);

}

.wrapper a img {
    width: 100%;
}





@media (max-width: 860px) {
    .wrapper a p {
        font-size: 20px;
    }
}

@media (max-width: 700px) {
    .wrapper {
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }

    .wrapper a p {
        bottom: 0;
    }

    .ourSalon {
        padding: 0 10px;
    }

    .ourSalon p {
        margin-top: 50px;
    }

    .ourSalon .lorem {
        margin-bottom: 50px;
    }
}

@media (max-width: 460px) {
    .container {
        padding: 0 10px;
        margin-bottom: 20px;
    }

    .container nav a {
        font-size: 14px;
    }

    .container nav a:hover {
        background: #FFFFFF;
        color: black;
    }
}