@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@100;200;300;400;500;600;700&display=swap');

.home {
    display: flex;
    width: 100%;
    height: 100vh;
    max-height: 950px;
    background-image: url("https://i.ibb.co/6rZ973f/bgc.png");
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    background-position: center center;
}

.home > p {
    margin: auto auto 0;
    font-family: 'Noto Serif', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;

}

.home button {
    width: 261px;
    height: 51px;
    background: #333333;
    color: #fff;
    margin: 50px auto 90px;
    text-transform: uppercase;
    border: 1px solid #fff;
    position: relative;
}

.line {
    width: 100%;
    height: 1px;
    background: #fff;
}

.partner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1110px;
    margin: 30px auto;
    padding: 0 30px;
    box-sizing: border-box;
}

.partner img {
    border-right: 1px #fff solid;
    width: calc(100%/6 - 20px);
    max-width: 160px;
    padding-right: 15px;
    box-sizing: border-box;
}

.partner img:last-child {
    border: 0;
}

@media(max-width: 750px){
    .home{
        max-height: 600px;
        padding: 0 10px;
        box-sizing: border-box;
    }
    .home > p{
        font-size: 28px;
    }
    .partner{
        max-width: 500px;
    }
    .partner img:nth-of-type(2n){
        display: none;
    }
    .partner img:nth-of-type(2n - 1){
        width: 30%;
    }
    .partner img:nth-of-type(5){
        border: 0;
    }
}

@media(max-width: 460px){
    .partner{
        max-width: 500px;
    }
    .partner img{
        display: none;
    }
    .partner img:first-child{
        display: flex;
        border: 0;
        width: 160px;
        margin: auto;
    }
}