.header {
    position: absolute;
    width: 100%;
    box-sizing: border-box;

    top: 0;
    left: 0;
    display: flex;
}

.container {
    width: 100%;
    max-width: 1110px;
    margin: 43px auto 0;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 0 20px;
}

.container nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 321px;
    flex-shrink: 0;
}

.container nav a ,.container div a {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
    text-decoration: none;
    position: relative;
}

.container > a {
    flex-shrink: 2;
    margin: 0 20px;
}

.container > a img {
    width: 100%;
}

.secondMenu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 348px;
    flex-shrink: 0;
}

.secondMenu img {
    width: 18px;
    height: 18px;
    margin: auto 0;
}
.secondMenu a, .container nav a{
    margin: auto 0;
}

.secondMenu a > img {
    width: 16px;
    height: 16px;
}

.secondMenu > a > img[alt="like"] {
    height: 14px;
}

.container nav a:before, .secondMenu a:nth-child(2):before, .secondMenu a:nth-child(3):before {
    width: 0;
    height: 2px;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    transition: .5s;
}

.container nav a:hover:before, .secondMenu a:nth-child(2):hover:before, .secondMenu a:nth-child(3):hover:before {
    width: 100%;
}
.container button {
    display: none;
    width: 33px;
    height: 30px;
    border: 0;
    background: transparent;
}
.container button img{
    width: 100%;
}

@media (max-width: 900px) {
    .container a{
        font-size: 12px;
    }
    .container nav {
        max-width: 250px;
    }

    .secondMenu {
        max-width: 277px;
    }
    .container{
        padding: 0 10px;
    }
}
@media (max-width: 690px) {
    .container {
         margin: 30px 0;
        padding: 0 35px;
    }
    .container > a{
        margin: 0;
    }
    .container nav , .secondMenu{
        display: none;
    }
    .container button {
        display: flex;
        margin: auto 0;
    }
}