.menu{
    height: 100vh;
    width: 100vw;
    background: #333333;
    position: fixed;
    z-index: 9999;
    display: flex;
    top: 0;
    left: 0;
    flex-direction: column;
    animation: start .5s linear 1;
    animation-fill-mode: forwards;
}
.header{
    display: flex;
    height: 100%;
    max-height: 52px;
    margin: 30px auto 35px 35px;
    justify-content: space-between;
    width: calc(100% - 70px);
}
@keyframes start {
    0%{
        filter: opacity(0);
    }
    100%{
        filter: opacity(1);
    }
}
.header > a{

}
.header button{
    width: 25px;
    height: 25px;
    display: flex;
    margin: auto 0;
    padding: 0;
}
.geader button img{
    width: 100%;
}
.finish{
    animation: finish .5s linear 1;
    animation-fill-mode: forwards;
}
@keyframes finish {
    0%{
        filter: opacity(1);
    }
    100%{
        filter: opacity(0);
    }
}

.menu ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-bottom: 35px;
    position: relative;
    margin: 0;
}
.menu li{
    margin: 30px 0;
}
.menu li a{
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 140%;
    color: #FFFFFF;
    text-decoration: none;
}
.menu ul:after, .secondMenu:after{
    position: absolute;
    width: calc(100% - 70px);
    height: 1px;
    background: #fff;
    content: "";
    bottom: 0;
    left: 35px;
}
.secondMenu{
    display: flex;
    position: relative;
    margin-top: 35px;
    padding-left: 44px;
    padding-bottom: 33px ;
}
.secondMenu > a{
    width: 33px;
    height: 33px;
    margin-right: 45px;
}
.secondMenu > a img{
    width: 100%;
}