.network {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
}
.container {
    width: 100%;
    max-width: 1110px;
    display: flex;
    flex-direction: column;
    margin: 0 auto 150px;
    padding: 0 30px;
    box-sizing: border-box;
}
.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.wrapper img{
    width: 100%;
}
.video:first-child{
    grid-column-start: 1;
    grid-column-end: 3;
}
.video:last-child{
    grid-column-start: 3;
    grid-column-end: 5;
}
.subtitle, .title{
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 140%;
    text-align: center;
    color: #333333;
}
.subtitle{
    margin: 0 auto 15px;
}
.title{
    font-family: 'Noto Serif', sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin: 0 auto 60px;
    line-height: 41px;
}


@media(max-width: 860px){
    .wrapper {
        grid-template-columns: 1fr 1fr;
    }
    .video:first-child{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .video:last-child{
        grid-column-start: 1;
        grid-column-end: 3;
    }
}
@media (max-width: 460px) {
    .container {
        padding: 0 10px;
        margin-bottom: 20px;
    }

    .container nav a {
        font-size: 14px;
    }

    .container nav a:hover {
        background: #FFFFFF;
        color: black;
    }
}