.footer {
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    max-width: 1110px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    margin: 0 auto;
    padding: 0 30px 60px;
    box-sizing: border-box;
    position: relative;
}

.container:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: #000;
    bottom: 0;
    left: 0;
}

.container h5 {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    width: 100%;
    max-width: 255px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #333333;
    position: relative;
    padding-bottom: 10px;
}

.container h5:after {
    position: absolute;
    width: 100%;
    height: 1px;
    content: '';
    bottom: 0;
    left: 0;
    background: #333333;
}

.link ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
}

.link li {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #333333;
    margin: 0 0 15px;
}

.link li:last-child {
    margin: 0;
}

.pay {
    display: flex;
    flex-direction: column;
}

.pay div {
    display: flex;
    margin: 21px 0 0 0;
}

.pay div img {
    margin: 0 20px 0 0;
}

.pay p {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #333333;
}

.contact ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
}

.contact ul li {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #333333;
    margin: 0 0 15px 0;
    padding: 0 0 0 30px;
    position: relative;
}

.contact ul li:before {
    background: url("https://i.ibb.co/sC9sfPz/Vector.png");
    width: 19.91px;
    height: 16px;
    position: absolute;
    content: '';
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.contact ul li:last-child:before {
    background: url("https://i.ibb.co/DYxnyHD/entypo-mail.png");
    width: 20px;
    height: 20px;
}

.network {
    display: flex;
    flex-direction: column;
}

.network p {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #333333;
}

.network div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.network div a:hover {
    filter: invert(1);
}

.network div img {
    object-fit: contain;
}

.postScript {
    display: flex;
    width: 100%;
    max-width: 1110px;
    margin: 20px auto;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}

.postScript a, .postScript p {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #333333;
    margin: 0;
    text-decoration: none;
}

.postScript a:last-child {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    text-align: right;
    text-decoration-line: underline;
    color: #333333;
}

@media (max-width: 1080px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }

    .container section {
        max-width: 350px;
    }
}

@media (max-width: 630px) {
    .postScript {
        flex-direction: column;
    }

    .postScript a, .postScript p {
        display: flex;
        justify-content: flex-start;
        margin: 10px 0;
    }
}

@media (max-width: 580px) {
    .container {
        grid-template-columns: 1fr;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 460px) {
    .container {
        padding: 0 10px;
    }

    .container nav a {
        font-size: 14px;
    }

    .container nav a:hover {
        background: #FFFFFF;
        color: black;
    }

    .form button, .form input {
        width: 120px;
    }

    .postScript {
        padding: 0 10px;
    }
}
