.exlusive {
    background: url("https://i.ibb.co/L8x2S7P/Rectangle-6.png");
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1110px;
    display: flex;
    flex-direction: column;
    margin: 0 auto 80px;
    padding: 0 30px;
    box-sizing: border-box;
}

.subtitle {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 140%;
    margin: 100px auto 0;
    text-align: center;
    color: #FFFFFF;
}

.title {
    font-family: 'Noto Serif', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    margin: 15px auto 0;
    text-align: center;
    color: #FFFFFF;
}

.main {
    display: flex;
    justify-content: center;
    margin: 60px auto 120px ;
}

.exlusive ul {
    display: flex;
    margin: 0 80px 0 0;
    flex-direction: column;
    list-style-type: none;
}
.exlusive ul::marker{
    background: url("https://i.ibb.co/hddWJ3P/Polygon-2.png");
}

.exlusive ul li {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 140%;
    color: #FFFFFF;
    position: relative;
}
.exlusive ul li:before{
    content: '';
    width: 17px;
    height: 17px;
    position: absolute;
    background: url("https://i.ibb.co/1XMq0B1/subscribe-icon.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transform: translate(-30px, 5px);
}
.exlusive ul li:last-child{
    margin-bottom: 0;
}

.form{
    display: flex;
    background: #fff;
    align-items: center;
    padding: 20px 22px;
    box-sizing: border-box;
    position: relative;
}
.form:before{
    padding: 15px;
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    background: transparent;
    border: 1px solid #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.form input{
    background: #FFFFFF;
    border: 1px solid #D6D6D6;
    height: 45px;
    margin-right: 15px;
}
.form in::placeholder{
    font-family: 'Gilroy',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(51, 51, 51, 0.5);
}
.form button{
    font-family: 'Gilroy',sans-serif;
    font-style: normal;
    font-weight: 500;
    width: 159px;
    height: 45px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #333333;
    border: 1px solid #FFFFFF;
}

@media (max-width: 788px) {
    .main{
        flex-direction: column;
    }
    .form{
        margin: 50px auto 0;
    }
}

@media (max-width: 541px) {
    .subtitle{
        font-size: 16px;
    }
   .title{
       font-size: 20px;
   }
}
@media (max-width: 460px) {
    .container {
        padding: 0 10px;
        margin-bottom: 20px;
    }

    .container nav a {
        font-size: 14px;
    }

    .container nav a:hover {
        background: #FFFFFF;
        color: black;
    }
    .form button, .form input{
        width: 120px;
    }
}

@media (max-width: 360px) {
    .form {
        flex-direction: column;
    }
    .form button, .form input{
        width: 200px;
    }
    .form button {
        margin: 20px auto 0;
    }
    .form input{
        margin: 0;
    }
    .form:before{
        padding: 15px;
    }
}